/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: 
   Date:   

   Filename: cg_validate.css

*/


/* Validation Styles */
/*11. Within the Validation Style section, add the following style rules: a. Display all input, select, and textarea elements that have the focus with a background color of rgb(245, 245, 140). HTML567*/
input:focus, select:focus, textarea:focus{
    background: rgb(245,245,140);
}

/*b. When the fnBox, lnBox, addBox, mailBox, phoneBox, and idBox controls have the focus and are valid, change the background color to rgb(220, 255, 220) and display the cg_valid.png image with no tiling in the right side of the background contained within the box. HTML568*/
input#fnBox:focus:valid, input#lnBox:focus:valid, input#addBox:focus:valid, input#mailBox:focus:valid, input#phoneBox:focus:valid, idBox:focus:valid{
    background: rgb(220,255,220) url(cg_valid.png) bottom right/contain no-repeat;
}
/*c. When the fnBox, lnBox, addBox, mailBox, phoneBox, and idBox controls have the focus and are not valid, change the background color to rgb(255, 232, 232) and display the image cg_invalid.png with no tiling in the right side of the background contained within the box. HTML 568*/
input#fnBox:focus:invalid, input#lnBox:focus:invalid, input#addBox:focus:invalid, input#mailBox:focus:invalid, input#phoneBox:focus:invalid, input#idBox:focus:invalid{
    background: rgb(255,232,232) url(cg_invalid.png) bottom right/contain no-repeat;
}






